.container{
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 32% 1fr;
}

.div-header{
    grid-column-start: 1;
    grid-column-end: 3;
}
.div-lista{
    background-color: antiquewhite;
    padding: 1em;
}

.div-joke{
    padding: 1em;

}